
body {
    background-color: rgb(82, 154, 235);
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
}

#canva {
    border: 1px solid black;
    background-color: white;
}

.imgIntro {
    width: 100%;
}

.esconder {
    display: none;
}

.mostrar {
    display: block;
}

.questions {
    margin-left: 14%;
    margin-top: 8%;
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}
.questions button{
    margin-top: 10px;
    width: 50%;
    background-color: rgb(242, 229, 112);
    border: 3px solid black;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    justify-content: center;
    padding: 20px;
}

.btn-start {
    display: flex;
    width: 200px;
    height: 80px;
    background-color: rgb(242, 229, 112);
    border: 3px solid black;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    justify-content: center;
    padding-top: 20px;
}

#ctn-botones {
    display: flex;
    justify-content: space-around;
}

#contenedor {
    position: relative;
    top: -250px;
}

#gameBoard {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}
#mensaje{
    color: #0d20a9;
    font-size: 20px;
}
#tablero {
    max-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tablero-info {
    font-family: 'Press Start 2P', cursive;
    padding: 20px;
    background-color: white;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 4% auto; 
    padding: 50px 100px;
    border: 1px solid #888;
    width: 40%; 
  }
  .modal-content h2{
      font-size: 30px;
      font-family: 'Press Start 2P', cursive;
  }
  .modal-content p , li{
    font-size: 28px;
    /* font-family: 'Press Start 2P', cursive; */
}
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    .imgIntro{
        width: 100%;
        position: relative;
        margin: 0px;
    }
    canvas{
        width: 90%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .btn-start{
        width: 100px;
    height: 40px;
    font-size: 13px;
    padding-top: 10px;
    }
    #contenedor{
        top: 10px;
    }
    #preguntas h2{
        font-size: 15px ;
    }
    #preguntas button{
        font-size: 12px;
    }
    #preguntas{
        position: initial;
        margin-top: 300px;
        margin-left: 0px;
    }
    #gameBoard {
        flex-direction: column-reverse;
        display: flex;
    }
    #inicioJuego{
        margin-top: 300px;
    }
    .modal-content {
        font-size: 12px;
        padding: 20px 20px;
        width: 80%; 
      }
      .modal-content h2 {
        font-size: 16px;
      }
      .modal-content img {
        width: 80%; 
      }
      #tablero{
          font-size: 12px;
          min-width: 80%;
          margin-right: auto;
          margin-left: auto;
          margin-bottom: 20px;
      }
      #tablero img{
        width: 40%;
    }
    #mensaje{
        font-size: 12px;
    }
  }
